$user: "user";
$program: "program";

$user-color: navy;
$program-color: ivory;
$border-color: black;

@mixin active {
  cursor: pointer;
  border-color: firebrick;
  background-color: crimson;
}

@mixin auto {
  border-color: darkolivegreen;
  background-color: olivedrab;
}
