@forward "../../util";
@use "../../util" as *;

$user-color: $main-color;
$program-color: $text-color;

$gap-width: 4px;
$space-side: min(10vmin, $block-size);

@mixin background-image($url) {
  background: {
    image: url($url);
    size: cover;
  }
}
