@use "util" as *;
@use "sass:math";

.board {
  display: grid;
  place-content: center;
  place-items: stretch;
  gap: 1vmin;
  padding: 0 $large-gap;
  height: 100vh;
  background-color: $background-color;

  > :nth-child(2) {
    place-self: center;
  }

  @include landscape-small {
    grid-template-columns: repeat(2, auto);

    > :not(:nth-child(2)) {
      align-self: stretch;
    }
  }

  @include landscape-large {
    grid-template-columns: repeat(2, auto);

    > :where(:nth-child(1), :nth-child(2)) {
      grid-column: span 2;
    }

    > :nth-child(4) {
      grid-column: 1;
      grid-row: 3;
    }
  }
}

.container {
  position: relative;
}

.restartButton {
  @include button;
  position: absolute;
  top: math.div($small-gap, 1vw) * 1vh;
  right: $small-gap;
  font-size: 1rem;
  cursor: pointer;

  &_finalMessage {
    position: static;
  }
}

.finalMessage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
