@use "util" as *;

.die {
  display: grid;
  place-content: center;
  
  border: none;
  width: calc(1.11 * $space-side);
  height: calc(1.11 * $space-side);
  font-weight: bold;

  background: {
    color: transparent;
    size: contain;
    repeat: no-repeat;
  }
}

.index0 {
  left: 10%;
  rotate: (-20deg);
}

.index1 {
  right: 10%;
  rotate: (30deg);
}

.value1 {
  &.user {
    background-image: url("./assets/Dice/1Light.svg");
  }
  
  &.program {
    background-image: url("./assets/Dice/1Dark.svg");
  }
}

.value2 {
  &.user {
    background-image: url("./assets/Dice/2Light.svg");
  }
  
  &.program {
    background-image: url("./assets/Dice/2Dark.svg");
  }
}

.active {
  @include scale-transition;
  background-image: url("./assets/Dice/Active.svg");
  cursor: pointer;
}

.auto {
  background-image: url("./assets/Dice/Auto.svg");
}
