@use "util" as *;

.die {
  position: absolute;
  display: grid;
  place-content: center;
  top: 10%;
  width: 50px;
  height: 50px;
  border: 3px solid $border-color;
  font-weight: bold;

  &0 {
    left: 20%;
  }

  &1 {
    right: 20%;
  }
}

.#{$user} {
  background-color: $user-color;
  color: $program-color;
}

.#{$program} {
  background-color: $program-color;
  color: $user-color;
}

.active {
  @include active;
}
