@use "util" as *;

.die {
  display: grid;
  place-content: center;
  
  border: none;
  width: calc(1.11 * $space-side);
  height: calc(1.11 * $space-side);
  font-weight: bold;

  background: {
    color: transparent;
    size: contain;
    repeat: no-repeat;
  }

  &_index0 {
    left: 10%;
    rotate: (-20deg);
  }

  &_index1 {
    right: 10%;
    rotate: (30deg);
  }

  &_value1 {
    &.user {
      background-image: url("./assets/Dice/1Light.svg");
    }
    
    &.program {
      background-image: url("./assets/Dice/1Dark.svg");
    }
  }

  &_value2 {
    &.user {
      background-image: url("./assets/Dice/2Light.svg");
    }
    
    &.program {
      background-image: url("./assets/Dice/2Dark.svg");
    }
  }
}

.active {
  background-image: url("./assets/Dice/Active.svg");
  cursor: pointer;
}

.auto {
  background-image: url("./assets/Dice/Auto.svg");
}
