@use "sass:math";
@use "util" as *;

$light-piece-url: url("./assets/LightPiece.svg");
$dark-piece-url: url("./assets/DarkPiece.svg");

.piece {
  width: calc(0.8 * $space-side);
  height: calc(0.8 * $space-side);
  border-radius: 50%;
  border: $border-width solid;
  background-color: transparent;
}

.user {
  background: {
    image: $light-piece-url;
    size: contain;
    repeat: no-repeat;
  }
  border-color: $program-color;

  &.destination {
    background: {
      image: $light-piece-url;
      size: contain;
      repeat: no-repeat;
    }
    opacity: 0.5;
  }
}

.program {
  background: {
    image: $dark-piece-url;
    size: contain;
    repeat: no-repeat;
  }
  border-color: $user-color;

  &.destination {
    background: {
      image: $dark-piece-url;
      size: contain;
      repeat: no-repeat;
    }
    opacity: 0.5;
  }
}

@for $i from 1 through 20 {
  .position#{$i}.user {
    rotate: 45deg * math.cos($i * 49deg);
  }

  .position#{$i}.program {
    rotate: 45deg * math.cos($i * 50deg);
  }
}

.active {
  @include scale-transition;
  background-image: none;
  background-color: $user-background-color;
  border-color: $user-border-color;
  cursor: pointer;
}

.auto {
  background-image: none;
  border-color: $program-border-color;
  background-color: $program-background-color;
}
