@use "util" as *;

.container1,
.container2 {
  position: absolute;

  width: 100px;
  height: 100px;
  border: 3px solid $border-color;

  @for $i from 1 through 7 {
    & > :nth-child(#{$i}) {
      position: absolute;
      top: 10%;
      left: 6% * $i;
    }
  }
}

.container1 {
  top: 20%;
}

.container2 {
  bottom: 20%;
  background-color: gold;
}

.#{$user} {
  left: 15%;
}

.#{$program} {
  right: 15%;
}
