@use "util" as *;
@use "sass:math";

.container {
  text-align: center;
  border-spacing: $gap-width;

  th,
  td {
    padding: $gap-width;
  }

  &.user {
    border: $border-width solid $program-color;
    background-color: $user-color;
    color: $program-color;

    th {
      background-color: $program-color;
      color: $user-color;
    }
  }

  &.program {
    border: $border-width solid $user-color;
    background-color: $program-color;
    color: $user-color;

    th {
      background-color: $user-color;
      color: $program-color;
    }
  }
}

.atStart,
.finished {
  position: relative;
  text-align: center;
  height: calc(1.6 * $space-side);
  width: calc(1.6 * $space-side);

  > * {
    position: absolute;
  }

  @for $i from 1 through 7 {
    > :nth-child(#{$i}) {
      $j: ($i - 1) % 3;
      left: calc(0.4 * $space-side * $j);

      $k: math.floor(math.div($i - 1, 3));
      top: calc(0.4 * $space-side * $k);
    }
  }

  @include small-screen {
    height: calc(0.8 * $space-side);
    display: flex;

    > * {
      top: 0 !important;
    }

    @for $i from 1 through 7 {
      > :nth-child(#{$i}) {
        $j: ($i - 1);
        left: calc(0.2 * $space-side * $j);
      }
    }
  }
}

.atStart {
  @for $i from 1 through 7 {
    > :nth-child(#{$i}) {
      rotate: 45deg * math.cos($i * 58deg);
    }
  }
}

.finished {
  @for $i from 1 through 7 {
    > :nth-child(#{$i}) {
      rotate: 45deg * math.cos($i * 57deg);
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}
