@use "util" as *;
@use "sass:color";

.space {
  position: relative;
  width: $space-side;
  height: $space-side;
  border: $border-width solid $program-color;

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: translate(-50%, -50%);
  }
}
