@use "./features/board/util" as board;

.App {
  display: grid;
  place-content: center;
  place-items: stretch;
  gap: 1vmin;
  padding: 0 5%;
  height: 100vh;
  background-color: board.$bg-color;

  > :nth-child(2) {
    place-self: center;
  }

  @include board.landscape-small {
    grid-template-columns: repeat(2, auto);

    > :not(:nth-child(2)) {
      align-self: stretch;
    }
  }

  @include board.landscape-large {
    grid-template-columns: repeat(2, auto);

    > :where(:nth-child(1), :nth-child(2)) {
      grid-column: span 2;
    }

    > :nth-child(4) {
      grid-column: 1;
      grid-row: 3;
    }
  }
}
